node_modules
npm-debug.log
yarn-error.log
.idea
lib
dist
.e-config-ignore.js
.e-config-ignore.js
.idea/dictionaries/allen.xml
.idea/dictionaries/sheailun.xml
.idea/e-cli.iml
.idea/e-cli.time
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/legion-cli.time
.idea/misc.xml
.idea/modules.xml
.idea/typescript-compiler.xml
.idea/vcs.xml
.idea/legion-cli.iml
.zip
.7z
.history
.webpack_cache